<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CategoryMapper">
	<insert id='insert'>
		insert into categories(user, categoryName, regdate)
		values(#{user}, #{categoryName}, now())
	</insert>
	<select id="list" resultType="hashmap">
		select *, date_format(regdate, "%Y-%m-%d %T") fmtdate
		from categories
		where user = #{user}
	</select>
	<select id="check" resultType="int">
		select count(*) cnt
		from categories
		where categoryName=#{categoryName} and user=#{user}
	</select>
	<update id="update">
		update categories
		set categoryName = #{categoryName}
		where categoryId = #{categoryId}
	</update>
	<delete id="delete">
		delete from categories
		where categoryId = #{categoryId}
	</delete>
</mapper>
